.cartHeader{
  text-align: center;
  font-size: 30px;
  padding: 2% 0;
  color: red;
}
.cartFooter{
  display : block;
  width: 100%;
}

.emptyCart{
  text-align: center;
  padding: 0 0 10% 0;
}

.emptyCartNote{
  font-size: 18px;
  margin-bottom: 2%;
}

table{
  max-width : 100%;
  overflow-x: hidden; 
  border-bottom: 1px solid grey;

}

th, td{
  text-align: center;
}

.bodyFluid{
   max-width : 100%;
    /* margin-left: 2%;
    margin-right : 2%; */
    /* overflow-x: hidden; */
}

.design_remove_flex{
  display : flex;
}

.cart_remove_flex{
  flex : 1;
}

.quantity{
  width : 60px;
  height : 20px;
  padding-left: 5px;
}

.cartTotal {
  display : flex;
  flex-direction : row;
  /* margin-left: 2%; */
  width: 100%;
  margin-bottom: 2%;
}

.flexfooter{
  flex : 1;
}

.cartOrder{
  background-color : orange;
  color : white;
  border : 1px solid orange;
  padding: 2% 1%;
  width: 30%;
  border-radius: 20px;
  margin-bottom: 2%;
  margin-right: 3%;  
  margin-left: 0;
}

.continueBtn{
  background-color: red;
  color: white;
  border: 1px solid red;
  width: 50%;
  border-radius: 20px;
  margin-bottom: 2%;
  margin-left: 0;  
  padding: 2% 1%;

}

.cartOrder:hover, .continueBtn:hover{
  box-shadow : 2px 2px 2px 2px grey;;
  outline-color: aliceblue;
}

.totalspan1 {
  color : orange;
  font-weight : bold;
  font-size : 25px;
  margin-right: 2%;
}

.totalspan2{
  color : black;
  font-weight : bold;
  font-size : 25px;

}

.orderCaution {
  max-width : 80%;
  margin-top : 25%;
  margin-left : 15%;
  padding-bottom : 20%;
  max-height : 100%;
  
}

.orderCaution span {
  color : orangered;
}

.orderCaution button {
  background-color : orange;
  color : white;
  border : 1px solid orange;
  outline-color : orange;
  box-shadow : 2px 2px 2px 2px grey;;
}


@media only screen and (min-width: 768px){
  
  .bodyFluid{
    margin-left: 15%;
    margin-right : 15%;
}

.cartFooter{
  display : flex;
  flex-direction: row;
  /* margin-right : 1%; */
  width: 100%;
}

.cartTotal{
  width: 20%;
}

.cartOrder{
  width: 12%;
  margin-right: 0; 
  margin-left: 1%;
  padding: 1% 1%;
}

.continueBtn{
  width: 20%;
  margin-left: 1%;
  padding: 1% 1%;
}



}