/* css for banner mobile  */
.banner{
  display: block;
} 

.bannerImage1{
  margin-right: none;
}

.bannerImage2{
  display: none;
}

.banner img{
    width : 100%; 
    height : 200px;
  }

  .productBanner{
    display: block;
  }

  .productImage{
    width: 220px;
    height : 220px;
  }

  .arrival-layout {
    margin-top : 1%;
     margin-left: 0;
    margin-right : 0;
  }

  .arrivalName{
    margin: 2% 0 1% 0;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 14px; 
    padding: 2% 1% 0.5% 1%;  
    border-bottom: 2px solid lightgrey;
  }

  .categoryName{
    font-size: 25px;
  }

  .clickForMoreDiv{
    width: 30%; 
    padding: 2% 0 0 0;
    text-align: right;
  }

  .clickForMore{
    padding-right: 1%;

  }

  .clickForMore:hover{
    color: #f53218;
  }

  .arrivalNameFlex{
    flex: 1;
  }

  .home-row-desktop{
    display : none;
  }

  .home-row-mobile{
    display  : block;
  }

  .grid-row{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    padding: 3% 1.5% 0 1.5%;
  }

  .grid-row-items{
    /* margin-right: 5%; */
    border-radius: 5px;
    padding-top: 10%;
    margin-bottom: 10%;
    background-color: white;
  }

  .productImageContainer{
    text-align: center;
    margin-bottom: 5%;
  }

  .productImage{
    width: 90%;
    height: 130px;
  }

  .tags{
    font-size : 15px;
    padding-left : 7%;
  }

  .cloth-row-desktop {
    margin-top : 5px;
    display : none;
   }

   .cloth-row-mobile {
     margin-top : 5px;
     display :  block;

    }

  /* .cloth-row-mobile .col-6 div img {
    width : 100%;
    height : 170px;
  } */

  .addToCart {
    margin-top: 3%;
    cursor: pointer;
    color : white;
    background-color: rgb(58, 57, 57);;
    border-radius : 5px; 
    text-underline-position : none;
    text-align: center;
    padding: 3% 0;
  }
  
  .addToCart:active{
    background-color: #f53218;
    text-decoration : none;
  }


  .modalImage{
    width : 100%;
    height : 250px;
  }

  .modalDesign{
    font-size : 25px;
    font-weight: bolder;
    margin-left : 7%;
  }

  .modalExtra {
    font-size : 17px;
    font-weight: bold;
    margin-left : 7%;
  }

  .sizeandDescription{
    font-size : 17px;
    margin-left : 7%;
  }

  .modalfooter{
    margin-left : 40%;
  }

  .closefooter{
    background-color : red;
    border-radius : 10px;
    margin-right : 5%;
    color : white;
    border : 1px solid red;
  }

  .add-to-cart {
    background-color : green;
    border-radius : 10px;
    margin-right : 5%;
    color : white;
    border : 1px solid green;
  }

  .displaysize {
    color : orange;
  }

  .sizeButton {
    color : white;
    background-color : orange;
    cursor: pointer;
  }

  .displaySizeError {
      font-size : 12px;
      color : red;
  }
  
  
  @media only screen and (min-width: 760px){
    .productBanner{
      display: none;
    }

    .home-banner{
      margin-left : 7%;
      margin-right : 7%;
      margin-top : 1%;
    }

    .modalfooter{
      margin-left : 60%;
    }

    .arrival-layout{
      margin-top : 1%;
      /* margin-left : 1%;
      margin-right : 1%; */
    }

    .home-layout{
      position: absolute;
      top : 10%; 
    }

    .banner{
      display: grid;
      grid-template-columns: 70% 30%;
    }

    .bannerImage1{
      margin-right: 5%;
    }

    .bannerImage1 img{
      width : 100%; 
      height : 70vh;
      border-radius: 10px;
    }

    .bannerImage2{
      display: block;
    }

    .bannerImage2 img{
      height : 33vh;
      border-radius: 5px;
    }
  
  .arrivalName{
      padding: 2% 0 0.5% 0;
    }

    .clickForMoreDiv{
      padding: 1% 0 0 0;
    }

    .arrivalNameFlex{
      flex: 1;
    }
    
    .home-row-desktop{
      max-width: 100%;
      /* background-color : white; */
      display : block;
    } 

    .grid-row{
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-column-gap: 1%;
      padding: 0;
    }

    .grid-row-items{
      padding-top: 7%;
      margin-right: 10%;
    }

    .grid-row-items:hover{
      box-shadow: 2px 10px 10px darkgrey;
    }

    .productImageContainer{
      text-align: center;
      margin-bottom: 5%;
    }

    .productImage{
      width: 80%;
      height: 130px;
    }
  
    .home-row-mobile{
      display : none;
    }
    
    .col-3{
      margin-bottom : 2%;
      border: 1px solid grey;
    }
  
    .addToCart {
      color : white;
      border-radius : 5px; 
      text-underline-position : none;
    }
    
    .addToCart:hover{
      background-color: #f53218;
      text-decoration : none;
    }

    .cloth-row-desktop {
      margin-top : 5px;
      display : block;
     }
  
     .cloth-row-mobile {
       display : none;
     }

     .cloth-row-desktop .col-3 div img {
      width : 100%;
      height : 190px;
    }

    @media only screen and (min-width: 1025px){

      .arrival-layout{
        margin-top : 1%;
        margin-left : 7%;
        margin-right : 7%;
      }

      .cloth-row-mobile{
         display : none;
        }

    }
  
  }  